<zulu-card header="Entries" className="h-100" [noPadding]="true">
  @if (isManual) {
    <zulu-textarea [model]="itemsStr" (inputChange)="onItemsChange($event)"
    [disabled]="isSpinning" className="h-100 w-100" class="h-100 w-100"></zulu-textarea>
  }
  @if (!isManual) {
    <div zuluMainStyle [background]="false" class="h-100 w-100 position-relative">
      <div class="h-100 w-100 list-container">
        @for (item of items; track item) {
          <div>{{item.label}}</div>
        }
      </div>
    </div>
  }
</zulu-card>