<div class="container d-flex justify-content-center align-items-center h-100 w-100">
    <zulu-card class="d-flex w-100 flex-column" className="w-100">
        <zulu-image class="z-image flex-grow-1" imagePath="assets/img/center-images/Z.png" />
        <div zuluMainStyle class="header">Thank you for using the Zulu Wheel!</div>
        <div zuluMainStyle class="version">Current Version: {{ appVersion }}</div>
        <br />
        <div zuluMainStyle class="info">If you love the Zulu Wheel, please be sure to spread the word. The best support you can give is a recommendation!</div>
        <br />
        <div zuluMainStyle class="info"><a href="https://ko-fi.com/zulucharlie">Check out my Ko-Fi page</a> to check out the various other projects I have going on, and please consider leaving a donation. Your support helps offset the costs of making cool stuff like this, and allows me to continue offering them free of charge.</div>
    </zulu-card>
</div>