<div class="container d-flex">
  @if (!maximized) {
    <div class="col-6 d-flex flex-column">
      <div class="header">
        <zulu-card>
          <div class="d-flex align-items-center justify-content-start">
            <div class="d-flex flex-column col-5">
              <div class="d-flex flex-grow-1">
                <zulu-select label="Wheel Display" setting="wheelDisplayType"
                                [model]="wheelSettings.wheelDisplayType" [options]="[
                                { label: 'Top', value: WheelEntryType.Manual, disabled: isOverTopWheelMax, tooltip: isOverTopWheelMax ? 'Top view disabled for more than ' + wheelSettings.maxTopWheelWedges + ' entries': undefined },
                                { label: 'Side', value: WheelEntryType.Twitch, disabled: false },
                                { label: 'Elimination', value: WheelEntryType.StreamerBot, disabled: false }]" />
                  <div class="col-1"></div>
                  <zulu-select
                    [disabled]="items.length > 0 && wheelSettings.wheelEntryType !== WheelEntryType.File"
                    label="Entry Method"
                    [small]="items.length > 0 && wheelSettings.wheelEntryType !== WheelEntryType.File ? 'Clear to change' : '&nbsp;'"
                                setting="wheelEntryType" [model]="wheelSettings.wheelEntryType" [options]="[
                                { label: 'Manual', value: WheelEntryType.Manual, disabled: false },
                                { label: 'Twitch', value: WheelEntryType.Twitch, disabled: false },
                                { label: 'Streamer.bot', value: WheelEntryType.StreamerBot, disabled: false },
                                { label: 'File', value: WheelEntryType.File, disabled: false }]" />
                  </div>
                  @if (wheelSettings.wheelEntryType !== WheelEntryType.File) {
                    <div
                      class="d-flex flex-grow-1 justify-content-start align-items-start">
                      <zulu-button class="wheel-control" (buttonClick)="sortEntries()" [disabled]="isSpinning">
                        Sort
                      </zulu-button>
                      <zulu-button class="wheel-control" (buttonClick)="shuffleEntries()" [disabled]="isSpinning">
                        Shuffle
                      </zulu-button>
                      <zulu-button class="wheel-control" (buttonClick)="clearWheel()" [disabled]="isSpinning">
                        Clear
                      </zulu-button>
                    </div>
                  }
                </div>
                <div class="col-1"></div>
                <div class="d-flex flex-grow-1">
                  @if (wheelSettings.wheelEntryType === WheelEntryType.Manual) {
                    <div
                      class="d-flex flex-grow-1 justify-content-start align-items-start">
                      <zulu-button class="wheel-control" (buttonClick)="addRandom()" [disabled]="isSpinning">
                        Add Random
                      </zulu-button>
                      <zulu-button class="wheel-control" (buttonClick)="addRandomX100()" [disabled]="isSpinning">
                        Add x100
                      </zulu-button>
                    </div>
                  }
                  @if (wheelSettings.wheelEntryType === WheelEntryType.Twitch) {
                    <div
                      class="d-flex flex-grow-1 justify-content-start align-items-start">
                      @if (twitchSettings.twitchAuthToken) {
                        <div class="twitch-command">
                          @if (twitchSettings.twitchEnterCommand) {
                            <div>{{ twitchSettings.twitchEnterCommand }}
                              to
                            enter</div>
                          }
                          @if (twitchSettings.twitchRemoveCommand) {
                            <div>{{ twitchSettings.twitchRemoveCommand }}
                            to remove</div>
                          }
                        </div>
                      }
                      @if (!twitchSettings.twitchAuthToken) {
                        <zulu-button (buttonClick)="connectToTwitch()"
                          icon="twitch" backgroundOverride="#6441a5" textOverride="#ffffff">
                          Connect to Twitch
                        </zulu-button>
                      }
                    </div>
                  }
                  @if (wheelSettings.wheelEntryType === WheelEntryType.StreamerBot) {
                    <div
                      class="d-flex flex-grow-1 justify-content-start align-items-start">
                      <div class="d-flex flex-column w-100 justify-content-start align-items-start">
                        @if (!streamerBotConnected && !streamerBotConnecting) {
                          <zulu-button
                            (buttonClick)="connectToStreamerBot()" icon="streamerbot"
                            backgroundOverride="#161616" textOverride="#ffffff">
                            Connect to Streamer.bot
                          </zulu-button>
                        }
                        @if (streamerBotConnecting) {
                          <zulu-button [disabled]="true" icon="streamerbot"
                            backgroundOverride="#161616" textOverride="#ffffff">
                            Connecting...
                          </zulu-button>
                        }
                        @if (streamerBotConnected && streamerBotSettings.sendGiveawayDataActionId && currentGiveaway) {
                          <zulu-button
                            (buttonClick)="sendGiveawayInfoToStreamerbot()">
                            Send Current Giveaway Info to Streamer.bot
                          </zulu-button>
                        }
                        @if (streamerBotConnectedError) {
                          <small>
                            Cannot connect to Streamer.bot.
                            Please ensure Streamer.bot is running,
                            and connection settings match
                            <a class="nav-link btn" [routerLink]="['/streamerbot-settings']"
                              routerLinkActive="active" zuluMainStyle [background]="false"
                              zuluAnimatedUnderline>
                              here
                            </a>
                          </small>
                        }
                        @if (streamerBotConnected) {
                          <div class="twitch-command">
                            {{streamerBotSettings.streamerbotEntryInstructions || '&nbsp;'}}
                          </div>
                        }
                        @if (!streamerBotConnectedError && !streamerBotConnected) {
                          <div>
                            &nbsp;
                          </div>
                        }
                      </div>
                    </div>
                  }
                  @if (wheelSettings.wheelEntryType === WheelEntryType.File) {
                    <div
                      class="d-flex flex-grow-1 justify-content-start align-items-start">
                      <input hidden (change)="onFileWatchSelected($event)" #fileInput type="file" accept=".txt" />
                      <zulu-button (buttonClick)="fileInput.click()" icon="upload">
                        {{ isFileWatching ? 'Change Watch File' : 'Select File to Watch'}}
                      </zulu-button>
                      @if (isFileError) {
                        <div>There was an error reading your file</div>
                      }
                    </div>
                  }
                </div>
              </div>
            </zulu-card>
          </div>
          <div class="d-flex giveaway-container">
            <div class="col-3 entries-list h-100">
              <app-items-list [initItems]="items" />
            </div>
            <div class="col-9 h-100">
              <current-giveaway />
            </div>
          </div>
        </div>
      }
      <div [ngClass]="maximized ? 'col-12' : 'col-6'">
        @if (wheelSettings.wheelDisplayType === WheelDisplayType.Wheel) {
          <app-wheel-main [items]="items" [isMaximized]="maximized"
            [runCountdown]="countdownSettings.countdown" (winnerRevealed)="onWinnerDeclared($event)" (viewToggled)="toggleMaximize()" />
        }
        @if (wheelSettings.wheelDisplayType === WheelDisplayType.SideWheel) {
          <app-wheel-main-side [items]="items" [isMaximized]="maximized"
            [runCountdown]="countdownSettings.countdown" (winnerRevealed)="onWinnerDeclared($event)" (viewToggled)="toggleMaximize()" />
        }
        @if (wheelSettings.wheelDisplayType === WheelDisplayType.Elimination) {
          <app-wheel-main-elimination [isMaximized]="maximized"
            [runCountdown]="countdownSettings.countdown" [items]="items" (winnerRevealed)="onWinnerDeclared($event)" (viewToggled)="toggleMaximize()" />
        }
      </div>
    </div>