h2 {
    min-height: 5%;
}

.container {
    height: 100%;
    max-width: 100%;
}

.image-container {
    max-height: 10%;
}

.giveaway-header {
    font-size: 1.5rem;
}

.description-header {
    height: 10%;
    margin: 5px;
}

.description-body {
    overflow: auto;
    margin: 5px;
    flex-grow: 1;
}

.description-footer {
    height: 15%;
    margin: 5px;
}

.giveaway-image {
    width: 100%;
    flex-grow: 2;
}

.winners-list {
    font-size: x-large;
    margin: 5px;
}