@if (settings) {
  <div class="d-flex justify-content-center align-items-center h-100" zuluMainStyle [background]="false">
    <div class="d-flex flex-column flex-grow-1">
      <div class="d-flex flex-grow-1 w-100">
        @if (imgSrc || settings.winnerImagePath) {
          <zulu-image
            [imagePath]="!imgSrc ? settings.winnerImagePath : imgSrc" class="winner-image flex-grow-1" />
        }
        @if (showHotSeat) {
          <div class="winner-message-container m-2 h-100">
            @if (settings.showWinnerMessages) {
              <app-twitch-messages class="winner-message"
                [chatterUserNames]="[winner]" />
            }
            @if (twitchFeatureChatters.length > 0) {
              <app-twitch-messages class="winner-message"
                [chatterUserNames]="twitchFeatureChatters" />
            }
          </div>
        }
      </div>
      @if (!isLapsed) {
        <div>{{winnerMessageDisplay}}</div>
      }
      @if (runTimer) {
        <div class="w-100">
          @if (isLapsed) {
            <div>{{settings.winnerRequireConfirmationLapsedMessage}}</div>
          }
          @if (!isConfirmed && !isLapsed) {
            <div>{{settings.winnerRequireConfirmationMessage}}</div>
          }
          @if (!isConfirmed && !isLapsed) {
            <div class="progress" role="progressbar" zuluMainStyle>
              <div class="progress-bar-striped progress-bar-animated" zuluButtonStyle
              [ngStyle]="{ 'width': percentRemaining + '%' }"></div>
            </div>
          }
        </div>
      }
    </div>
  </div>
}
@if (timerStarted) {
  <zulu-timer [time]="settings.winnerRequireConfirmationTimer * 1000" (ticked)="onTick($event)"
    (lapsed)="onLapsed()" />
}