<div *ngIf="allGiveaways" class="container d-flex">
    <div *ngIf="!currentGiveaway" class="col-12">
        <giveaway-list [giveaways]="allGiveaways" (selected)="onSelectGiveaway($event)"
            (reordered)="onReorderedGiveaways($event)" (deleted)="onDeletedGiveaways($event)" />
    </div>
    <div *ngIf="currentGiveaway" class="col-4">
        <h2 zuluMainStyle [background]="false">Giveaway Settings</h2>
        <zulu-card>
            <div class="d-flex flex-column">
                <zulu-button (buttonClick)="onSelectGiveaway(null)">Return to Giveaway List</zulu-button>
                <div *ngIf="currentGiveawayIndex !== null && currentGiveawayIndex >= 0" class="d-flex">
                    <zulu-button [disabled]="currentGiveawayIndex === 0" (buttonClick)="onSelectGiveaway(currentGiveawayIndex - 1)">Back</zulu-button>
                    <zulu-select class="flex-grow-1 d-flex align-items-center" [options]="giveawayListItems"
                        [model]="currentGiveawayIndex" (inputChange)="onSelectGiveaway($event)" />
                    <zulu-button [disabled]="currentGiveawayIndex === allGiveaways.length - 1" (buttonClick)="onSelectGiveaway(currentGiveawayIndex + 1)">Next</zulu-button>
                </div>
                <giveaway-settings [giveaway]="currentGiveaway" [index]="currentGiveawayIndex!"
                    (giveawayChanged)="onGiveawayUpdated($event)" />
            </div>
        </zulu-card>
    </div>
    <div *ngIf="currentGiveaway" class="col-2">
        <div *ngIf="currentGiveaway?.winners && currentGiveaway?.winners?.length ?? 0 > 0">
            <h2 zuluMainStyle [background]="false">Winners</h2>
            <zulu-card>
                <div *ngFor="let winner of currentGiveaway?.winners; let i = index"
                    class="badge d-flex align-items-center" zuluMainStyle>
                    <span>{{winner}}</span>
                    <button mat-icon-button (click)="onRemoveWinner(i)">
                        <mat-icon>cancel</mat-icon>
                    </button>
                </div>
            </zulu-card>
        </div>
    </div>
    <div *ngIf="currentGiveaway" class="col-6 d-flex flex-column h-100">
        <zulu-card class="giveaway-display-card" className="h-100">
            <giveaway-details [giveaway]="currentGiveaway" />
        </zulu-card>
    </div>
</div>