<div class="d-flex flex-column h-100">
    <h2 zuluMainStyle [background]="false">Wedge Color Settings</h2>
    <zulu-card>
        <zulu-button (buttonClick)="onAddWedgeColor()">
            + Add Wedge Color
        </zulu-button>
    </zulu-card>
    <div class="flex-grow-1 colors-viewport">
        <div cdkDropList cdkDropListOrientation="mixed" [cdkDropListData]="settings.itemSettings"
            class="colors-list d-flex flex-wrap" (cdkDropListDropped)="onReorderWedgeColors($event)">
            <zulu-card class="col-6 color-picker-card" cdkDrag
                *ngFor="let itemSetting of settings.itemSettings; let i = index">
                <div class="d-flex justify-content-around align-items-center">
                    <div class="h-100 justify-content-center align-items-center">
                        <div class="h-100 justify-content-center align-items-center" cdkDragHandle mat-mini-fab>
                            <mat-icon>reorder</mat-icon>
                        </div>
                    </div>
                    <div class="flex-grow-1">
                        <button class="btn w-100 h-100" [ngStyle]="{
                        'background-color': itemSetting.pieColor,
                        'color': itemSetting.pieFontColor
                        }" (click)="openColorPickerModal(i)">Edit</button>
                    </div>
                    <div class="h-100 align-items-center">
                        <button class="h-100 justify-content-center align-items-center" (click)="onDeleteWedgeColor(i)"
                            mat-icon-button>
                            <mat-icon>cancel</mat-icon>
                        </button>
                    </div>
                </div>
            </zulu-card>
        </div>
    </div>
</div>