div {
    font-size: 1.25rem;
    text-align: center;
    margin-bottom: 5px;
}

.progress {
    margin: 0 5%;
}

.progress-bar-striped {
    margin-bottom: 0;
}

.countdown-message {
    text-align: center;
    font-size: 2rem;
    line-height: normal;
}

.countdown-timer {
    text-align: center;
    font-size: 8rem;
    line-height: normal;
}