@if (settings) {
  <div class="d-flex flex-column justify-content-center align-items-center h-100 w-100" zuluMainStyle [background]="false">
    @if (settings.countdownMessage) {
      <div class="countdown-message">{{settings.countdownMessage}}</div>
    }
    @if (settings.countdownShowTimer) {
      <div class="flex-grow-1 countdown-timer">
      {{timeRemaining}}</div>
    }
    @if (settings.countdownShowTimerBar) {
      <div class="progress w-100" role="progressbar" zuluMainStyle>
        <div class="progress-bar-striped progress-bar-animated" zuluButtonStyle
        [ngStyle]="{ 'width': percentRemaining + '%' }"></div>
      </div>
    }
    @if (timerStarted) {
      <zulu-timer [time]="settings.countdownTimer * 1000" (ticked)="onTick($event)"
        (lapsed)="onLapsed()" />
    }
  </div>
}