@use '@angular/material' as mat;
@use '../m3-theme.scss' as zulu;
@use '@simonwep/pickr/dist/themes/nano.min.css' as pickr;
@include mat.core();

:root {
  @include mat.all-component-themes(zulu.$dark-theme);
  --mdc-dialog-container-color: transparent;
}

html,
body {
  height: 100%;
  font-size: 16px;
}

@media only screen and (max-width: 1600px) {
  html {
    font-size: 14px;
  }

  .zulu-wheel-container .mat-icon:not(.mat-mdc-icon-button *),
  .zulu-wheel-container .mat-mdc-icon-button {
    transform: scale(0.875);

    .mat-mdc-button-touch-target {
      transform: scale(0.875) translate(-50%, -50%);
    }
  }
}

@media only screen and (max-width: 1440px) {
  html {
    font-size: 12px;
  }

  .zulu-wheel-container .mat-icon:not(.mat-mdc-icon-button *),
  .zulu-wheel-container .mat-mdc-icon-button {
    transform: scale(0.75);

    .mat-mdc-button-touch-target {
      transform: scale(0.75) translate(-50%, -50%);
    }
  }
}

@media only screen and (max-width: 1366px) {
  html {
    font-size: 10px;
  }

  .zulu-wheel-container .mat-icon:not(.mat-mdc-icon-button *),
  .zulu-wheel-container .mat-mdc-icon-button {
    transform: scale(0.625);

    .mat-mdc-button-touch-target {
      transform: scale(0.625) translate(-50%, -50%);
    }
  }
}

@media only screen and (max-width: 1280px) {
  html {
    font-size: 8px;
  }

  .zulu-wheel-container .mat-icon:not(.mat-mdc-icon-button *),
  .zulu-wheel-container .mat-mdc-icon-button {
    transform: scale(0.5);

    .mat-mdc-button-touch-target {
      transform: scale(0.5) translate(-50%, -50%);
    }
  }
}

@media only screen and (max-width: 810px) {
  html {
    font-size: 6px;
  }

  .zulu-wheel-container .mat-icon:not(.mat-mdc-icon-button *),
  .zulu-wheel-container .mat-mdc-icon-button {
    transform: scale(0.375);

    .mat-mdc-button-touch-target {
      transform: scale(0.375) translate(-50%, -50%);
    }
  }
}

.card {
  padding: 0.5rem;
}

.flex-grow {
  flex-grow: 1;
}

.underline {
  text-decoration: underline;
}